LLM_PROVIDER=
LLM_MODEL_ID=
LLM_API_KEY=
LLM_API_BASE_URL=
LLM_API_VERSION=
LLM_MAX_TOKEN=
LLM_TEMPERATURE=

# Config
TEMP_DIR=/tmp/ingestion
API_BASE_URL=http://localhost:8000

# Auth key
AUTH_TOKEN=a-random-generated-token
