include Readme.md
include LICENSE
recursive-include src/dataroutine/modules/s3_explore/web/static *
recursive-include src/dataroutine/modules/s3_explore/web/templates *
recursive-include src *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
